CiscoPacketTracer822_amd64_signed.deb
TE_CNS LAB MANUAL FINAL.pdf
pr1C
pr1B
pr1A/pr1.pkt
pr1A/Screenshot from 2024-04-17 18-26-19.png
pr1A/Screenshot from 2024-04-17 18-31-11.png 
pr1A/Screenshot from 2024-04-17 18-51-10.png
pr1A/ss.png